.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e5e9f4;
    color: rgb(87, 78, 78);
    padding: 1rem 2rem;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  
  .logo {
    font-size: 1.4rem;
    cursor: pointer;
    user-select: none;
    font-family: 'Press Start 2P', cursive;
  }
  
  .userArea {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .username {
    font-weight: 500;
  }
  
  body.dark .role {
    color: #bbb;
  }
  
  .button {
    background-color: rgb(87, 78, 78);
    color: #efefef;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
  }
  
 
  .toggle {
    background: none;
    border: none;
    font-size: 1.4rem;
    cursor: pointer;
    margin-right: 1rem;
    vertical-align: middle;
    margin-top: -10px;
  }
  body.dark .toolbar {
    background-color: #1e1e1e;
    color: #f0f0f0;
    
  }
  
  body.dark .button {
    background-color: #444;
    color: #f0f0f0;
  }
  
  body.dark .button:hover {
    background-color: #666;
  }
  
  body.dark .role {
    color: #bbb;
  }
  
  